<div class="container-sm mt-3 col-md-6">
  <h3 class="m-3 text-center">Login</h3>
  <% if(errorMessage) { %>
  <div class="mb-3 alert alert-danger" role="alert"><%= errorMessage %></div>
  <% } %>
  <form class="m-3" method="post" action="/login">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email"
      aria-describedby="email" name="email" value="<%= formData ? formData.email
      : "" %>" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
