<div class="container-sm mt-3 col-md-6">
  <h3 class="m-3 text-center">Register</h3>
  <% if(errorMessage) { %>
  <div class="mb-3 alert alert-danger" role="alert"><%= errorMessage %></div>
  <% } %>
  <form class="m-3" method="post" action="/register">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= formData ? formData.name : '' %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        value="<%= formData ? formData.email : '' %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
